<div class="container" style="overflow-y: hidden">
    <div class="row" *ngIf="data">
          <div class="col-sm-12 col-md-6 col-padding-bottom" *ngFor="let d of data">
            <div class="item" (click)="open(newsmodel)">
              <div class="row w-100 h-100">
                <div class="col-sm-12 col-md-4" >
                  <img src="{{d.urlToImage}}" class="image">
                </div>
                <div class="col-sm-12 col-md-8 spacing">
                  <div class="news-info">{{d.title}}</div>
                </div>
              </div>
            </div>
            <ng-template #newsmodel class="modal">
              <div class="modal-header">
                <div>
                <h1 class="modal-title header">{{d.source.name.replace(' ','')}}</h1>
                  <h4 style="display: block">{{d.publishedAt | date: "MMMM dd, yyyy"}}</h4>
                </div>
                <button type="button" class="close"  (click)="close(newsmodel)">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="title"><b>{{d.title}}</b></div>
                <div style="overflow: hidden"><span>{{d.description}}</span></div>
                <div>For more details click <a href="{{d.url}}" target="_blank">here</a></div>
                <div style="height: 30px"></div>
                <div class="share">
                 <div style="padding: 10px">
                   <p style="padding-left: 10px">Share</p>
                   <a  target="_blank" class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{d.title}}&url={{d.url}}">
                     <span style="padding-left: 0.5rem">
<!--                       <img src="assets/twitterlogo.png" height="50px" width="50px">-->
                       <i class="fa fa-twitter" aria-hidden="true" style="font-size: 30px"></i>
                     </span></a>
                   <div class="fb-share-button fb" data-size="large">
                     <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{d.url}}" class="fb-xfbml-parse-ignore">
<!--                       <img src="assets/fb.jpg" width="30px" height="30px" style="border-right: 2px;">-->
                       <i class="fa fa-facebook-square" aria-hidden="true" style="font-size: 30px;padding-left: 0.5rem"></i></a></div>
                 </div>
                </div>
              </div>
            </ng-template>
          </div>
    </div>
  <div style="height: 40px"></div>
</div>
